@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

footer{
  background: #111;
}

footer .bottom{
  
  text-align:center;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom h3{
  color: #eb2f06;
}
